.about-header{
    height: 100px;
    background-color: black;
}
.about-body{
    background: black;
    padding: 5rem;
    color: white;
}
.my-img img{
    width: 500px;
    height: 500px;
}
.about-skill-container{
    color: black;
    border-radius: 15px;
}
.about-skill-container ul li{
    list-style-type: none;
}
.about-skill-container h5{
    color: #666;
}
.about-skill-container p{
    font-weight: 600;
}
.skills-border{
    border-bottom: 1px solid #999;
}
@media only screen and (max-width: 768px){
    .my-img img{
        width: 250px;
        height: 250px;
    }
}