.about-header{
    height: 100px;
    background-color: black;
}
.about-body{
    background: black;
    padding: 5rem;
    color: white;
}
.my-img img{
    width: 500px;
    height: 500px;
}

@media only screen and (max-width: 768px){
    .my-img img{
        width: 250px;
        height: 250px;
    }
}