.contact{
    height: 100vh;
    background-color: black;
}
.contact-content{
    height: 60vh;
    background-color: #fff;
    border-radius: 15px;
}
.contact-content h2{
    font-size: 40px;
}
.contact-content input, .contact-content textarea{
    width: 100%;
    padding: 10px 16px;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    margin: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
    transition: 0.5s;
}
.contact-content input:focus, .contact-content textarea:focus{
    border-bottom: 2px solid #000;
    background-color: #fff;
}
.contact-content button{
    padding: 8px 46px;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
}
.contact-content button:hover{
    color: #fff;
}

@media only screen and (max-width: 768px){
    .contact{
        height: auto;
    }
    .contact-content{
        height: auto;
        padding: 3rem 1rem;
    }
}