.Header-main{
    width: 100%;
    height: 80vh;
    color: #fff;
}
.Header-main h1{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
}
.Header-main a{
    color: #000;
    text-decoration: none;
}
.Header-main a:hover{
    color: #000;
    text-decoration: none;
}
.Header-main button{
    padding: 10px 30px;
    border: 0;
    outline: 0;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 40px;
}
.header-main-row{
    height: 100%;
}
.header-main-col{
    height: 100%;
}
.social-links a{
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {
    .Header-main h1{
        font-size: 65px;
    }
}