.Contact-summary{
    height: 500px;
}
.Contact-summary h2{
    font-size: 40px;
}
.Contact-summary input, .Contact-summary textarea{
    width: 100%;
    padding: 10px 16px;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    margin: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
    transition: 0.5s;
}
.Contact-summary input:focus, .Contact-summary textarea:focus{
    border-bottom: 2px solid #000;
    background-color: #fff;
}
.Contact-summary button{
    padding: 8px 46px;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
}
.Contact-summary button:hover{
    color: #fff;
}

@media only screen and (max-width: 600px){
    .Contact-summary{
        height: auto;
        padding: 3rem;
    }
}